// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes
h1
	color : #800000
	font-family : Georgia

.bespoke-slide
	background : transparent
	background-size : 100%
	
ul
	li
		text-align: left
		font-size: 25pt

body
	background-repeat: no-repeat
	background-size: 100% 100%
	background-attachment: fixed
	background-color : gray
    
.gambarHeader
	background : transparent
	background-repeat: no-repeat



.back1
	width: 1366px
	height: 768px
	margin-top: -384px
	margin-left: -683px
	background-image: url(../images/danger2.jpg)
	background-repeat: no-repeat
	background-size: 100% 100% 
	background-position: center
	bakcground-color: black


section
	h2
		font-size: 45pt

	p
		font-size: 18pt