// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes


.bespoke-slide
	background : transparent
	width: 100%
	height: 100%
	margin-top: 0px
	margin-left: 0px
	top: 0px
	left: 0px
	padding: 60px 60px 60px 60px
	
ul
	li
		text-align: justify
		font-size: 18pt

body
	background-repeat: no-repeat
	background-attachment: fixed

.gambarHeader
	background : transparent
	background-repeat: no-repeat

#backgroundcolor
	background rgb(255,255,255)
	background -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%)
	background -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(200,200,200,1)))
	background -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%)
	background -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%)
	background -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%)
	background radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%)



.back1
	width: 100%
	height: 100%
	margin-top: 0px
	margin-left: 0px
	top: 0px
	left: 0px
	background-image: url(../images/danger2.jpg)
	background-repeat: no-repeat
	background-size: 100% 100% 
	background-position: center


section
	h2
		font-size: 40pt

	p
		font-size: 20pt
		line-height: 25pt
		color: black
		text-align: justify

.bespoke-before
	-webkit-transform translate3d(-1920px, 0, 0)
	-moz-transform translate3d(-1920px, 0, 0)
	-ms-transform translate3d(-1920px, 0, 0)
	-o-transform translate3d(-1920px, 0, 0)
	transform translate3d(-1920px, 0, 0)
.bespoke-before-2
	-webkit-transform translate3d(-1280px, 0, 0)
	-moz-transform translate3d(-1280px, 0, 0)
	-ms-transform translate3d(-1280px, 0, 0)
	-o-transform translate3d(-1280px, 0, 0)
	transform translate3d(-1280px, 0, 0)
.bespoke-before-1
	-webkit-transform translate3d(-720px, 0, 0)
	-moz-transform translate3d(-720px, 0, 0)
	-ms-transform translate3d(-720px, 0, 0)
	-o-transform translate3d(-720px, 0, 0)
	transform translate3d(-720px, 0, 0)
.bespoke-after
	-webkit-transform translate3d(1920px, 0, 0)
	-moz-transform translate3d(1920px, 0, 0)
	-ms-transform translate3d(1920px, 0, 0)
	-o-transform translate3d(1920px, 0, 0)
	transform translate3d(1920px, 0, 0)
.bespoke-after-2
	-webkit-transform translate3d(1280px, 0, 0)
	-moz-transform translate3d(1280px, 0, 0)
	-ms-transform translate3d(1280px, 0, 0)
	-o-transform translate3d(1280px, 0, 0)
	transform translate3d(1280px, 0, 0)
.bespoke-after-1
	-webkit-transform translate3d(720px, 0, 0)
	-moz-transform translate3d(720px, 0, 0)
	-ms-transform translate3d(720px, 0, 0)
	-o-transform translate3d(720px, 0, 0)
	transform translate3d(720px, 0, 0)