// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'


// Check out "bower_components/prism/themes/" for available themes


.bespoke-slide
	background : transparent
	width: 100%
	height: 100%
	margin-top: 0px
	margin-left: 0px
	top: 0px
	left: 0px
	padding: 10% 20% 10% 20%

#namakelompok	
	ul
		li
			text-align: justify
			font-size: 18pt

body
	background-repeat: no-repeat
	background-attachment: fixed
	font-family: gotham_font
	color: whiteSmoke

.gambarHeader
	background : transparent
	background-repeat: no-repeat

.dangerrokok1
	background-image url(../images/rokokbro.jpg)
	background-repeat no-repeat
	width 100%
	height 100%
	h2
		font-size 45pt
		color black
	h3
		font-size 30pt
		color black

.bespoke-parent.white
	background white
	h2
		color black
		line-height 1.5

.bespoke-parent.green
	background white
	p
		color black
		font-weight 900
		font-style italic
		font-size 20pt
	h2
		font-size 45pt
		font-weight 900
		color black
		line-height 1.5

article
	background black

.back1
	width: 100%
	height: 100%
	margin-top: 0px
	margin-left: 0px
	top: 0px
	left: 0px
	background-image: url(../images/danger2.jpg)
	background-repeat: no-repeat
	background-size: 100% 100% 
	background-position: center

#kandungan
	ul
		li
			font-size: 20pt
			font-weight: bold

section
	h2
		font-size: 35pt
		font-weight: normal

	p
		font-size: 17pt
		line-height: 1.5
		color: white
		text-align: justify
		b
			font-weight: bold
			color yellow

	ul
		li
			font-size: 17pt
			line-height: 2

	h3
		font-size 20pt
		color whiteSmoke


.bespoke-before
	-webkit-transform translate3d(-1920px, 0, 0)
	-moz-transform translate3d(-1920px, 0, 0)
	-ms-transform translate3d(-1920px, 0, 0)
	-o-transform translate3d(-1920px, 0, 0)
	transform translate3d(-1920px, 0, 0)
.bespoke-before-2
	-webkit-transform translate3d(-1280px, 0, 0)
	-moz-transform translate3d(-1280px, 0, 0)
	-ms-transform translate3d(-1280px, 0, 0)
	-o-transform translate3d(-1280px, 0, 0)
	transform translate3d(-1280px, 0, 0)
.bespoke-before-1
	-webkit-transform translate3d(-720px, 0, 0)
	-moz-transform translate3d(-720px, 0, 0)
	-ms-transform translate3d(-720px, 0, 0)
	-o-transform translate3d(-720px, 0, 0)
	transform translate3d(-720px, 0, 0)
.bespoke-after
	-webkit-transform translate3d(1920px, 0, 0)
	-moz-transform translate3d(1920px, 0, 0)
	-ms-transform translate3d(1920px, 0, 0)
	-o-transform translate3d(1920px, 0, 0)
	transform translate3d(1920px, 0, 0)
.bespoke-after-2
	-webkit-transform translate3d(1280px, 0, 0)
	-moz-transform translate3d(1280px, 0, 0)
	-ms-transform translate3d(1280px, 0, 0)
	-o-transform translate3d(1280px, 0, 0)
	transform translate3d(1280px, 0, 0)
.bespoke-after-1
	-webkit-transform translate3d(720px, 0, 0)
	-moz-transform translate3d(720px, 0, 0)
	-ms-transform translate3d(720px, 0, 0)
	-o-transform translate3d(720px, 0, 0)
	transform translate3d(720px, 0, 0)

.dampak
	ul
		li
			font-size 20pt
			text-align: left
			line-height 1