doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Danger of Smoking

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='images/styles.css')


  body

    article

      section.back1
        h1

      section#namakelompok
        h2 Disusun Oleh :
        ul.bullet
          li 1. Hans Liu Winarta - 121110570
          li 2. Kelvin - 121110651
          li 3. Luciano Prawira - 121110367
          li 4. Kelvin Angviesta - 141111511

      section
        h2 Apa itu Rokok?
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        p  Rokok adalah silinder dari kertas berukuran panjang antara 70 hingga 120 mm (bervariasi tergantung negara) dengan diameter sekitar 10 mm yang berisi daun-daun tembakau yang telah dicacah.
        img(src='images/rokok.png' style='width:200px;height:200px')

      section
        h2 Sejarah Rokok
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        p.bullet Penggalian arkeologi telah menunjukkan bahwa 4000 tahun yang lalu, dan mungkin sebelumnya, suku Indian Amerika Utara telah menggunakan Tembakau Kata "Tembakau" mungkin berasal dari nama pulau Tobago
       
      section
        img(src='images/smokingmen.jpg' style='width:300px;height:350px')
    
      section
        h2.bullet Apakah saja yang ada di dalam rokok??
        h2.bullet Apakah anda tahu??

      section
        p.bullet Rokok mengandung kurang lebih 4000 bahan kimia, dan 200 diantaranya 
          b dinyatakan berbahaya bagi kesehatan

      section
        img(src='images/what2.jpg' style='width:300px;height:300px')

      section
        img(src='images/kandunganrokok.jpg' style='width:400px;height:600px')
      
      section#kandungan
        h2 Beberapanya antara lain
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")

        ul.bullet
          li Tar
          li Nikotin
          li Karbon Monoksida

      section
        h2 Tar
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        ul.bullet
          li Tar adalah sejenis cairan kental berwarna coklat tua atau hitamMerupakan subtansi hidrokarbon yang bersifat lengket dan menempel pada paru-paru, yang dapat menyebabkan kanker paru. 
      
      section
        h2 Nikotin
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        ul.bullet
          li Nikotin adalah zat adiktif yang mempengaruhi syaraf dan peredaran darah. Zat ini bersifat karsinogen dan dapat memicu kanker paru Selain itu nikotin juga dikenal mempunyai efek adiksi, artinya dapat menyebabkan ketergantungan
      
      section
        h2 Karbon Monoksida
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        ul.bullet
          li Merupakan sejenis gas yang tidak mempunyai bau dan dihasilkan dari pembakaran yang tidak sempurna dari unsure zat arang atau karbon. Zat ini sangat beracunkarena dapat mengikat hemoglobin yang terdapat dalam darah, sehingga membuat darah tidak mampu mengikat oksigen 
      
      section
        h2 Motivasi Perokok
          ul.bullet
            li 1. Alat pergaulan (psikososial).
            li 2. Kepuasan saraf (sensorimotor).
            li 3. Sumber kenikmatan (indulgent).
            li 4. Penenang (sedatif).
            li 5. Perangsang (stimulasi).
            li 6. Memenuhi kecanduan (addiktif).
            li 7. Keterbiasaan (otomatis).

      section(data-bespoke-state="dangerrokok1")  
        h2.bullet Dampak Merokok
        h3 bagi Kesehatan

      section.dampak
        ul.bullet
          li 1. Pemicu Kanker.
          li 2. Penyebab timbulnya penyakit lainnya.
          li 3. Memungkingkan terjadinya penurunan kinerja otak.
          li 4. Nafas yang bau.
          li 5. Mengurangi perfoma atletik.
          li 6. Meningkatkan resiko terkena penyakit.

      section
        h2.bullet Efek lainnya
        h3.bullet Ibu Hamil
        p.bullet (walau sang ibu merupakan perokok pasif)
        img.bullet(src='images/ibu.jpg' style='width:250px;height:300px')

      section
        ul.bullet
          li Meningkatkan kemungkinan keguguran
          li Meningkatkan kemungkinan kelahiran bayi prematur
          li Mengganggu perkembangan otak pada bayi
          li Meningkatkan kemungkinan kelahiran bayi yang tidak normal

      section
        h2.bullet Efek lainnya
        h3.bullet Sistem Reproduksi
        p.bullet Mengurangi tingkat kesuburan baik 
          b pria 
          | maupun 
          b wanita

      section
        img(src='images/paru.jpg')

      section(data-bespoke-state="white")
        h2 Dampak Merokok
        h2 Bagi Lingkungan

      section(data-bespoke-state="white")
        h2 Pemanasan Global Meningkat
        img(src='images/earth.jpg' style='width: 450px;height:400px')

      section(data-bespoke-state="white")
        h2 Butuh 10 - 15 tahun untuk penguraian
        img(src='images/rokok2.jpg' style='width: 450px;height:400px')

      section(data-bespoke-state="white")
        h2 Deforestasi dilakukan
        img(src='images/hutan.jpg' style='width: 400px;height:400px')

      section(data-bespoke-state="white")
        h2 Kehidupan ikan di air terancam
        img(src='images/ikan.jpg' style='width: 500px;height:400px')

      section(data-bespoke-state="white")
        h2 Polusi udara
        img(src='images/polusi.jpg' style='width: 400px;height:400px')
      
      section(data-bespoke-state="white")
        h2 Masih Berani Merokok?
        br
        img(src='images/Bocah.gif' style='width:100px;height:100px')

      section(data-bespoke-state="green")
        p.bullet "Merokok Atau tidak Itu tergantung pada diri anda sendiri, Ingat tidak ada yang bisa merubah apapun dari dirimu selain DIRI-mu Sendiri."
        h2.bullet Terima Kasih.


    script(src='build/build.js')