doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Danger of Smoking

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='images/styles.css')


  body

    article

      section.back1
        h1
       
      section#namakelompok
        h2 Disusun Oleh :
        ul.bullet
          li 1. Hans Liu Winarta - 121110570
          li 2. Kelvin - 121110651
          li 3. Luciano Prawira - 121110367
          li 4. Kelvin Angviesta - 141111511

      section
        h2 Apa itu Rokok?
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        p  Rokok adalah silinder dari kertas berukuran panjang antara 70 hingga 120 mm (bervariasi tergantung negara) dengan diameter sekitar 10 mm yang berisi daun-daun tembakau yang telah dicacah.
        img(src='images/rokok.png' style='width:200px;height:200px')

      section
        h2 Sejarah Rokok
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        p.bullet Penggalian arkeologi telah menunjukkan bahwa 4000 tahun yang lalu, dan mungkin sebelumnya, suku Indian Amerika Utara telah menggunakan Tembakau Kata "Tembakau" mungkin berasal dari nama pulau Tobago
       
      section
        img(src='images/smokingmen.jpg' style='width:300px;height:350px')
    
      section(data-bespoke-state="white")
        h2 Test

      section
        h2.bullet Apakah saja yang ada di dalam rokok??
        h2.bullet Apakah anda tahu??

      section
        p.bullet Rokok mengandung kurang lebih 4000 bahan kimia, dan 200 diantaranya 
          b dinyatakan berbahaya bagi kesehatan

      section
        img(src='images/what2.jpg' style='width:300px;height:300px')

      section
        img(src='images/kandunganrokok.jpg' style='width:400px;height:600px')
      
      section#kandungan
        h2 Beberapanya antara lain
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")

        ul.bullet
          li Tar
          li Nikotin
          li Karbon Monoksida

      section
        h2 Tar
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        ul.bullet
          li Tar adalah sejenis cairan kental berwarna coklat tua atau hitamMerupakan subtansi hidrokarbon yang bersifat lengket dan menempel pada paru-paru, yang dapat menyebabkan kanker paru. 
      
      section
        h2 Nikotin
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        ul.bullet
          li Nikotin adalah zat adiktif yang mempengaruhi syaraf dan peredaran darah. Zat ini bersifat karsinogen dan dapat memicu kanker paru Selain itu nikotin juga dikenal mempunyai efek adiksi, artinya dapat menyebabkan ketergantungan
      
      section
        h2 Karbon Monoksida
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        ul.bullet
          li Merupakan sejenis gas yang tidak mempunyai bau dan dihasilkan dari pembakaran yang tidak sempurna dari unsure zat arang atau karbon. Zat ini sangat beracunkarena dapat mengikat hemoglobin yang terdapat dalam darah, sehingga membuat darah tidak mampu mengikat oksigen 
      
      section
        h2 Jenis Motivasi Merokok
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        ul.bullet
          li Alat pergaulan (psikososial). Merokok pada situasi sosial dan menggunakan nilai simbolis dari tindakan merokok ini untuk meningkatkan kehidupan bersosial.           

      section(data-bespoke-state="dangerrokok1")

      section.dampak
        h2 Dampak Merokok Bagi Kesehatan
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        ul.bullet
          li 1. Pemicu Kanker.
          li 2. Penyebab timbulnya penyakit lainnya.
          li 3. Memungkingkan terjadinya penurunan kinerja otak.
      
      section
        h2 Dampak Merokok Bagi Lingkungan
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        ul.bullet
          li Racun yang dikeluarkan oleh rokok ini kemudian akan berbaur dengan udara yang ada di sekitarnya, dan secara tidak langsung ini akan merusak tatanan udara yang ada di sekitar orang yang merokok, dan kondisi ini juga secara tidak langsung sudah merusak alam.
          li Merusak Tubuh Orang Anda tentu pernah mendengar adanya perokok pasif. Ini adalah orang yang tidak merokok, namun menghirup asap yang keluar dari rokok tersebut. Seorang perokok pasif jauh lebih berbahaya dibandingkan dengan perokok aktif, hal ini karena racun yang ada dalam asap terserbut terhisap ke dalam tubuh perokok pasif tersebut
          li Proses pengolahannya dari daun tembakau sampai siap digulung menghabiskan banyak sumber daya dan terutama pohon sebagai kertas penggulungnya, Satu pohon besar harus ditebang untuk memproduksi 300 bungkus rokok, Kertas dari pohon tersebut dipakai untuk menggulung daun tembakau yang telah diolah, dipakai sebagai pembungkus dan sebagainya
          li Pohon berukuran besar yang memiliki efisiensi yang tinggi dalam menyaring udara malah ditebang dan digunakan dalam industri rokok yang turut menyumbangkan polusi udara
          li Saat rokok habis dihisap, perokok dengan mudah membuang puntung rokok sembarangan mungkin berpikir bahan rokok berupa kertas dan daun kering tembakau akan dengan mudah diuraikan. Kenyataannya, puntung rokok bukan hanya sekedar "kertas dan daun kering". Bahan kimia beracun yang terkandung di dalamnya akan meracuni tempat dimana ia dibuang Bila dibuang ke perairan, bahan beracun akan larut ke air dan meracuni organisme di dalamnya. Bila dibuang di tanah, bahan beracun akan meresap ke tanah dan mencemarinya
      section
        h2 Motivasi Perokok
          ul.bullet
            li 1. Alat pergaulan (psikososial).
              p Merokok pada situasi sosial dan menggunakan nilai simbolis dari tindakan merokok ini untuk meningkatkan kehidupan bersosial.
            li 2. Kepuasan saraf (sensorimotor).
              p Merokok untuk kepuasan pada mulut, sensorik dan manipulasi rokok itu sendiri.
            li 3. Sumber kenikmatan (indulgent).
              p Merokok untuk memperoleh kenikmatan dan menambah kegembiraan dan kesenangan yang sudah ada.
            li 4. Penenang (sedatif).
              p Merokok untuk menghilangkan perasaan tak enak, bukan untuk kenikmatan
            li 5. Perangsang (stimulasi).
              p Efek stimulan dari nikotin dipakai untuk ‘mengangkat’ atau memacu semangat, membantu berfikir dan konsentrasi.
            li 6. Memenuhi kecanduan (addiktif).
              p Merokok semata-mata untuk memenuhi tuntutan atau mencegah terjadinya sindroma penarikan, yang akan timbul apabila seorang perokok telah meliwatkan 30-40 menit atau kurang tanpa rokok.
            li 7. Keterbiasaan (otomatis).
              p Ini terjadi pada sebagian perokok berat yang dengan tak disadari lagi secara otomatis akan mencari sebatang rokok. Ini baru disadari hanya jika tangannya sudah kosong, yakni tidak memegang rokok.
      section
        h2 Merokok Atau tidak Merokok Itu tergantung Pada diri Anda Sendiri,Ingat Tidak Ada yang Bisa Merubah atau pun dari dirimu Selain Diri mu Sendiri 
        h2 Masih Berani Merokok?
        br
        img(src='images/Bocah.gif' style='width:100px;height:100px')

    script(src='build/build.js')