doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Danger of Smoking

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article#backgroundcolor

      section.back1
        h1
       
      section#namakelompok
        h2 Disusun Oleh :
        ul.bullet
          li 1. Hans Liu Winarta - 121110570
          li 2. Kelvin - 121110651
          li 3. Luciano Prawira - 121110367
          li 4. Kelvin Angviesta - 141111511

      section
        h2 Apa itu Rokok?
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        p  Rokok adalah silinder dari kertas berukuran panjang antara 70 hingga 120 mm (bervariasi tergantung negara) dengan diameter sekitar 10 mm yang berisi daun-daun tembakau yang telah dicacah.
        img(src='images/rokok.png' style='width:200px;height:200px')

      section
        h2 Sejarah Rokok
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        p.bullet Penggalian arkeologi telah menunjukkan bahwa 4000 tahun yang lalu, dan mungkin sebelumnya, suku Indian Amerika Utara telah menggunakan Tembakau Kata "Tembakau" mungkin berasal dari nama pulau Tobago
       
      section
        h2 Sejarah Rokok Di Indonesia
        p 
      
      section.Jenis
        h2 Jenis-Jenis Rokok
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        ul.bullet
          li Rokok Berdasarkan Bahan Pembungkus<Selanjut nya di materi Modul Sejarah Rokok>
          li Rokok Berdasarkan Bahan Baku atau Isi
          li Rokok Berdasarkan Proses Pembuataannya
          li Rokok Berdasarkan Filter 
      section
        img(src='images/kandunganrokok.jpg' style='width:400px;height:600px')
      section 
        h2 Kandungan Pada Racun Pada Rokok
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        ul.bullet
          li Rokok mengandung kurang lebih 4000 bahan kimia, dan 200 diantaranya dinyatakan berbahaya bagi kesehatan. Bahan yang paling utama terdapat pada rokok diantaranya adalah: 
      
      section
        h2 Tar
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        ul.bullet
          li Tar adalah sejenis cairan kental berwarna coklat tua atau hitamMerupakan subtansi hidrokarbon yang bersifat lengket dan menempel pada paru-paru, yang dapat menyebabkan kanker paru. 
      
      section
        h2 Nikotin
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        ul.bullet
          li Nikotin adalah zat adiktif yang mempengaruhi syaraf dan peredaran darah. Zat ini bersifat karsinogen dan dapat memicu kanker paru Selain itu nikotin juga dikenal mempunyai efek adiksi, artinya dapat menyebabkan ketergantungan dan sifat adiksi inilah yang biasanya dapat mendorong seseorang untuk mengkonsumsi rokok secara berlebihan
      
      section
        h2 Karbon Monoksida
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        ul.bullet
          li Merupakan sejenis gas yang tidak mempunyai bau dan dihasilkan dari pembakaran yang tidak sempurna dari unsure zat arang atau karbon. Zat ini sangat beracunkarena dapat mengikat hemoglobin yang terdapat dalam darah, sehingga membuat darah tidak mampu mengikat oksigen 
      
      section
        ul.bullet 
          li Dampak Merokok Bagi Kesehatan
          li Dampak Merokok Bagi Lingkungan
          li Dampak Merokok Bagi Ekonomi
      
      section.dampak
        h2 Dampak Merokok Bagi Kesehatan
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        ul.bullet
          li 1. Pemicu Kanker.
          li 2. Penyebab timbulnya penyakit lainnya.
          li 3. Memungkingkan terjadinya penurunan kinerja otak.
      
      section
        h2 Dampak Merokok Bagi Lingkungan
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        ul.bullet
          li Perokok bisa juga mengalahi hal buruk dalam sosialisasinya. Ia mungkin akan dijauhi teman-temannya yang tidak suka dengan rokok. Bagi pria,bisa saja ia dijauhi oleh para wanita (umumnya wanita tidak suka perokok). 
      
      section 
        h2 Dampak Merokok Bagi Ekonomi
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        p blablablabla 

      section
        h2 Jenis Motivasi Merokok
        svg(height="10" width="650")
          line(x1="0" y1="0" x2="650" y2="0" style="stroke:whiteSmoke;stroke-width:2")
        ul.bullet
          li Alat pergaulan (psikososial). Merokok pada situasi sosial dan menggunakan nilai simbolis dari tindakan merokok ini untuk meningkatkan kehidupan bersosial. 
      
      section
        h3 Masih Berani Merokok?
        img(src='images/Bocah.gif' style='width:100px;height:100px')

    script(src='build/build.js')