doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Danger of Smoking

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section.back1
        h1
       
      section
        h2 Disusun Oleh :
        ul.bullet
          li 1. Hans Liu Winarta - 121110570
          li 2. Kelvin - 121110651
          li 3. Luciano Prawira - 121110367
          li 4. Kelvin Angviesta - 141111511
      section
        h2 Sejarah Merokok

      section
        ul.bullet 
          li Dampak Merokok Bagi Kesehatan
          li Dampak Merokok Bagi Lingkungan
          li Dampak Merokok Bagi Ekonomi
      section
        h2 Dampak Merokok Bagi Kesehatan
        p blablablabla
      section
        h2 Dampak Merokok Bagi Lingkungan
        p blablablabla
      section 
        h2 Dampak Merokok Bagi Ekonomi
        p blablablabla 

    

    script(src='build/build.js')